html{
    scroll-behavior: smooth;
}

header{
    width: 100%;
    padding: 28px 0%;
    top:0;
    position: sticky;
    z-index: 3;
    background-color: #ffffff;
    box-shadow:  0px 0px 10px 2px rgb(0,0,0, 0.1);
    
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

#nav_logo {
    font-size: 24px;
    color: #890e15d5;
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav-item a {
    text-decoration: none;
    color: #0c0101d4;
    font-weight: 600;
}



.nav-item:hover a {
    color: #0f0000;
    border-bottom:3px solid #7c0a0f;
}

#mobile_btn {
   display: none ;
}


#mobile_menu {
    display: none;
}



@media screen and (max-width:1387px){
    #nav_list,
    #navbar .btn-default {
        display:none;
    }
    #mobile_btn {
        display: block ;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }
    #mobile_menu.active{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #mobile_nav_list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
    }
    #mobile_nav_list .nav-item {
        list-style: none;
        text-align: center;
    }
}


 
  
    
/* Testando */
.drinks-section {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 40px;
    flex-wrap: wrap;
}

.drink-card {
    width: 300px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.drink-card:hover {
    transform: translateY(-10px);
}

.drink-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.drink-info {
    padding: 20px;
    color: white;
}

.drink-meta {
    font-size: 14px;
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.drink-meta i {
    margin-right: 5px;
}

.drink-info h3 {
    font-size: 20px;
    font-weight: normal;
}

.drink-info h3 strong {
    display: block;
    font-weight: bold;
    font-size: 22px;
}

/* Cores de fundo dos cards */
.bg-blue {
    background-color:#7c0a0f ;  /* #c411df*/
}

.bg-green {
    background-color:#7c0a0f;  /* #00CEC9*/
}

.bg-pink {
    background-color:#7c0a0f;  /* #35ed20*/
}



.footer {
    background-color: #7c0a0f;
    color: #fff;
    text-align: center;
    padding: 40px 20px;
    font-family: Arial, sans-serif;
    margin-top: 90px;
}

.footer .social-icons {
    margin-bottom: 20px;
}

.footer .social-icons a {
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin: 0 10px;
    border-radius: 50%;
    background-color: #fff;
    color: #7c0a0f;
    text-align: center;
    font-size: 18px;
    transition: 0.3s;
}

.footer .social-icons a:hover {
    background-color: #df0c0c;
    color: #fff;
}

.footer-menu {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

.footer-menu li a:hover {
    color: #ddd;
}

.footer p {
    font-size: 14px;
    margin-top: 20px;
    color: #aaa;
}